@import './variables';

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color:$dark;
    // height: 4000px;
    //it is used at the starting to see the page properly to set up the elements
}

nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
}

// nav li a:hover{
//     color:$primary;   
// }

//This is by using the normal css 
//but here we will use tailwind css

nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}

section.hero{
    background: $secondary;
}

nav{
    background: $sec_first;
}

.size
{
    background: $secondary;
}

.add-to-cart{
   border: 2px solid $primary;
   color: $primary;
   transition: $smooth;
   &:hover{
     background: $primary;
     border-color: $pure;
     color:$pure;
   } 
}

.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login{
    background: $secondary;
    min-height: calc(100vh - 93px);
    a{
        color:$primary;
        &:hover{
            color: $primary-hover;
        }
    }
}